<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-footer col-md-3 col-xs-6">
                <h3>{:L('FRIEND_LINK')}</h3>
                <ul class="no-list-style footer-navigate-section">
                    <!--<li><a href="page-blog-posts.html">Blog</a></li>-->
                    <!--<li><a href="page-portfolio-3-columns-2.html">Portfolio</a></li>-->
                    <!--<li><a href="page-products-3-columns.html">eShop</a></li>-->
                    <!--<li><a href="page-services-3-columns.html">Services</a></li>-->
                    <li><a href="http://www.uestc.edu.cn">{:L('UESTC')}</a></li>
                </ul>
            </div>

            <div class="col-footer col-md-4 col-xs-6">
                <h3>{:L('CONTANCT_US')}</h3>

                <p class="contact-us-details">
                    <b>{:L('ADDRESS')}:</b> 电子科技大学清水河校区<br/>
                    <b>{:L('PHONE')}:</b> 92999999<br/>
                    <b>{:L('EMAIL')}:</b> <a href="mailto:owner@kangbiao.org">owner@kangbiao.org</a>
                </p>
            </div>
            <div class="col-footer col-md-2 col-xs-6">
                <h3>{:L('SOCIAL_CONTACT')}</h3>
                <ul class="footer-stay-connected no-list-style">
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright">&copy; 2015 FORLEAVES</div>
            </div>
        </div>
    </div>
</div>

<!-- Javascripts -->
<block name="js"></block>
<script>window.jQuery || document.write('<script src="__JS__/jquery-1.9.1.min.js"><\/script>')</script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<script src="__JS__/jquery.fitvids.js"></script>
<script src="__JS__/jquery.sequence-min.js"></script>
<script src="__JS__/jquery.bxslider.js"></script>
<script src="__JS__/main-menu.js"></script>
<script src="__JS__/template.js"></script>
