<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="__CSS__/bootstrap.min.css">
<link rel="stylesheet" href="__CSS__/icomoon-social.css">

<link rel="stylesheet" href="__CSS__/leaflet.css"/>
<!--[if lte IE 8]>
<link rel="stylesheet" href="__CSS__/leaflet.ie.css"/>
<![endif]-->
<link rel="stylesheet" href="__CSS__/main.css">
<block name="css"></block>
<script src="__JS__/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!--<![endif]-->
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
