<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- Navigation & Logo-->
<div class="mainmenu-wrapper">
    <div class="container">
        <div class="menuextras">
            <div class="extras">
                <ul>
                    <li>
                        <div class="dropdown choose-country">
                            <a class="#" data-toggle="dropdown" href="#"><img src="__IMG__/flags/switch.png" alt="Great Britain"> 切换语言</a>
                            <ul class="dropdown-menu" role="menu">
                                <li role="menuitem"><a href="#"><img src="__IMG__/flags/cn.png" alt="Germany"> 中文</a></li>
                                <li role="menuitem"><a href="#"><img src="__IMG__/flags/gb.png" alt="Germany"> English</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <nav id="mainmenu" class="mainmenu">
            <ul>
                <li class="logo-wrapper"><a href="{:U('Nav/index')}"><img src="__IMG__/mPurpose-logo.png" alt="Multipurpose Twitter Bootstrap Template"></a>
                </li>
                <think:nav name="nav">
                    <eq name="nav.pid" value="0">
                        <li>
                            <a href="{$nav.url|get_nav_url}" target="<eq name='nav.target' value='1'>_blank<else/>_self</eq>">{$nav.title}</a>
                        </li>
                    </eq>
                </think:nav>
                <li>
                    <form action="">
                        <input type="text" style="width:120px;border: 1px solid #ccc;" class="input-sm" name="" id="">
                        <button type="button" class="btn btn-sm">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
</div>