<extend name="Public/common"/>

<block name="body">
    <!-- Page Title -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div data-editable="type=fragment;id=11" class="editable">
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;电子科技大学是教育部直属、国家“985工程”“211工程”重点建设大学，坐落于有“天府之国”之称的西部经济、文化、交通中心&mdash;&mdash;四川省成都市。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校原名成都电讯工程学院，是1956年在周恩来总理的亲自部署下，由交通大学（现上海交通大学、西安交通大学）、南京工学院（现东南大学）、华南工学院（现华南理工大学）的电讯工程有关专业合并创建而成，1960年被中共中央列为全国重点高等学校，1961年被中共中央确定为七所国防工业院校之一，1988年更名为电子科技大学，1997年被确定为国家首批“211工程”建设的重点大学，2000年由原信息产业部主管划转为教育部主管，2001年进入国家“985工程”重点建设大学行列。经过50多年的建设，学校形成了从本科到硕士研究生、博士研究生等多层次、多类型的人才培养格局，成为一所完整覆盖整个电子类学科，以电子信息科学技术为核心，以工为主，理工渗透，理、工、管、文协调发展的多科性研究型大学。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校设有清水河、沙河、九里堤三个校区，占地面积5000余亩，拥有馆藏丰富的现代化数字图书馆和一批设施齐备的现代化体育场馆。学校环境优美，绿树成荫，湖水悠悠，银杏成海，是读书治学的理想场所。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校以培养“基础知识厚、专业能力强、综合素质高、具有国际视野和社会责任感的拔尖创新人才”为根本任务，设有24个学院（部），59个本科专业，其中14个为国家级特色专业建设点，现有各类全日制在读学生33000余人，其中博士、硕士研究生12000余人。学生以素质全面、专业知识扎实、能力强、后劲足等鲜明特点受到了社会各界和用人单位的普遍赞誉，学生就业率一直保持在95%以上，本科生国内外深造比例在50%左右，成电学子遍布海内外IT领域。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校已建成一批国家和省部级精品开放课程、精品教材，拥有国家大学生文化素质教育基地，以及国家工科数学教学基地、国家工科电工电子教学基地、国家级电子实验教学示范中心等10余个国家级教育教学实践基地和示范中心，获得一批国家级教学成果奖。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校鼓励和支持学生积极参与科技创新、文化艺术和社会实践活动，构建了“普惠性”学生科技创新体系。学生活跃在全国大学生电子设计竞赛、“挑战杯”全国大学生课外学术科技作品竞赛、全国大学生艺术比赛、亚太大学生机器人竞赛、美国大学生数学建模竞赛、国际大专辩论赛、国际基因工程机器大赛等国内、国际各类竞赛的赛场上，争金夺银，成绩斐然。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校现有2个国家一级重点学科（所包括的6个二级学科均为国家重点学科）；一级学科博士学位授权点14个，二级学科博士学位授权点51个；一级学科硕士学位授权点25个，二级硕士学位授权点69个，具有电子与信息领域工程博士专业学位授予权和7种硕士专业学位授予权，设有博士后流动站13个。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校以“顶天、立地、树人”为科研工作定位，努力构建“三足鼎立”（军事电子科研、以国家各类基金为代表的基础研究、与企业合作为主体的应用技术研究）的科研架构，“十一五”以来科技成果获国家级奖励14项、部省级奖励181项，发表论文（专著）31000余篇（部），申请专利4500余项。学校拥有国家级重点实验室4个，国家工程中心1个，省部级科研机构41个，2个国家自然科学基金委创新群体、7个教育部创新团队和1个国防科技创新团队。学校设有国家大学科技园、电子科学技术研究院、东莞电子科技大学电子信息工程研究院、无锡研究院、成都研究院，致力于促进科研成果转化。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校大力实施“人才强校”战略，现有教职工3800余人，其中专任教师2100余人，教授445人。拥有一支包括7位中国科学院、中国工程院院士，59位国家“千人计划”入选者（含“青年千人计划”），1名“万人计划”领军人才，26位长江学者，14位国家杰出青年科技基金获得者，8位国家级教学名师、全国优秀教师和全国师德先进个人等在内的高水平师资队伍。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;学校大力实施国际化发展战略，已与世界50多个国家和地区的200余所大学、科研机构、企业建立友好合作关系，同一批国外知名高校签署了学生交流及联合培养协议，与美国威廉玛丽学院、韩国浦项工科大学成为姊妹学校。自2010年实现留学生规模招生以来，学校已招收来自全球50多个国家和地区的600余名留学生。学校每年主办十余次国际学术会议，选派大批教师赴海外访学进修、合作研究和参加国际会议。INTEL、MICROSOFT、TI和IBM等跨国公司在我校设立联合实验室、研发中心和奖学金项目等，直接参与我校的人才培养。学校积极推进国际化人才培养，与英国格拉斯哥大学建立了战略合作伙伴关系，共建电子科技大学格拉斯哥学院；与法国蒙彼利埃二大建立了战略合作伙伴关系，共建孔子学院；与美国和葡萄牙名校开展IMBA和DBA合作办学项目。</span></p>
                        <p>
                            <span style="font-size:14px;">&#12288;&#12288;电子科技大学以“求实求真、大气大为”为校训，以人才培养为根本，以服务国家、地方经济建设和国防建设为己任，开拓进取，锐意创新，为建成以电子信息科学技术为特色的多科性研究型大学而不懈奋斗。</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>