<extend name="Public/common"/>

<block name="body">
    <!-- 首页图片轮播 -->
    <div class="homepage-slider">
        <div id="sequence">
            <ul class="sequence-canvas">
                <!-- Slide 1 -->
                <volist name="indexNews" id="indexNews">
                    <li class="bg{++$count}">
                        <!-- Slide Title -->
                        <h2 class="title">{$indexNews.title}</h2>
                        <!-- Slide Text -->
                        <h3 class="subtitle">{$indexNews.description}
                            <a href="{:U('Article/detail','id='.$indexNews['id'])}" style="font-size: 0.8em">{:L('LOOK_MORE')}...</a>
                        </h3>
                        <!-- Slide Image -->
                        <img class="slide-img" height="100px" src="{$indexNews.coverPath}" alt="{$indexNews.title}"/>
                    </li>
                </volist>
                 <!--End Slide 3-->
            </ul>
            <div class="sequence-pagination-wrapper">
                <ul class="sequence-pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End 首页图片轮播 -->

    <!-- 研究方向 -->
    <div class="section">
        <div class="container">
            <h2>{:L('RESEARCH_FORWARD')}<a style="font-size: 18px; float: right" href="research.html">{:L('LOOK_MORE')}...</a></h2>
            <div class="row">
                <volist name="indexResearch" id="indexResearch">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-wrapper">

                            <h3>{$indexResearch.title}</h3>

                            <p>{$indexResearch.description}</p>
                            <a href="research.html#{$indexResearch.title}" class="btn">{:L('LOOK_MORE')}</a>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>
    <!-- End 研究方向 -->

    <!-- 新闻列表 -->
    <div class="section blog-posts-wrapper">
        <div class="container">
            <h2>{:L('NEWEST_NEWS')}<a style="font-size: 18px; float: right" href="news.html">{:L('LOOK_MORE')}...</a></h2>
            <div class="row">
                <volist name="topFourNewsList" id="topFourNewsList">
                    <div class="col-md-3 col-sm-6">
                        <div class="blog-post">
                            <a href="{:U('Article/detail','id='.$topFourNewsList['id'])}">
                                <div class="post-info">
                                    <div class="post-date">
                                        <div class="date">{$topFourNewsList.update_time|date='Y-m-d H:i:s',###}</div>
                                    </div>
                                </div>
                                <eq name="topFourNewsList['coverPath']" value="0">
                                    <img style="height: 190px;" src="__IMG__/blog2.jpg" class="post-image" alt="Post Title">
                                    <else/>
                                    <img style="height: 190px;" src="{$topFourNewsList.coverPath}" class="post-image" alt="{:L('IMG_LOAD_ERROR')}">
                                </eq>
                                <div class="post-title">
                                    <h3>{$topFourNewsList.title}</h3>
                                </div>
                            </a>
                            <div class="post-summary">
                                <p>{$topFourNewsList.description}</p>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>


</block>
