<extend name="Public/common"/>

<block name="body">

    <div class="section">
        <div class="container">
            <div class="row">
                <h2>{:L('TEACHER_TEAM')}</h2>
                <volist name="detail['teacher']" id="teacher" empty="$empty">
                    <eq name="teacher['show_introduction']" value="1">
                        <div class="col-md-12 col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="team-member">
                                        <!-- Team Member Photo -->
                                        <div class="team-member-image"><img style="height: 200px" src="{$teacher.header_img}" alt="{$teacher.title}"></div>
                                        <div class="team-member-info">
                                            <ul>
                                                <!-- Team Member Info & Social Links -->
                                                <li class="team-member-name">
                                                    {:L('NAME')}：{$teacher.title}
                                                </li>
                                                <li>{:L('RESEARCH_FORWARD')}：{$teacher.research_forward}</li>
                                                <li>{:L('CONTACT')}：{$teacher.contact}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="portfolio-item-description col-sm-">
                                    <div style="margin:20px ">
                                        <h3>{:L('SELF_INTRO')}</h3>
                                        <p>{$teacher.introduction}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <else/>
                        <div class="col-md-4 col-sm-6">

                            <div class="team-member">
                                <!-- Team Member Photo -->
                                <div class="team-member-image"><img style="height: 200px" src="{$teacher.header_img}" alt="{$teacher.title}"></div>
                                <div class="team-member-info">
                                    <ul>
                                        <!-- Team Member Info & Social Links -->
                                        <li class="team-member-name">
                                            {:L('NAME')}：{$teacher.title}
                                        </li>
                                        <li>{:L('RESEARCH_FORWARD')}：{$teacher.research_forward}</li>
                                        <li>{:L('CONTACT')}：{$teacher.contact}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </eq>
                </volist>
            </div>
            <div class="row">
                <!-- Team Member -->
                <h2> {:L('STUDENT_TEAM')}</h2>

                <volist name="detail['student']" id="student" empty="$empty">
                    <div class="col-md-4 col-sm-6">

                        <div class="team-member">
                            <!-- Team Member Photo -->
                            <div class="team-member-image"><img style="height: 200px" src="{$student.header_img}" alt="{$student.title}"></div>
                            <div class="team-member-info">
                                <ul>
                                    <!-- Team Member Info & Social Links -->
                                    <li class="team-member-name">
                                        {:L('NAME')}：{$student.title}
                                    </li>
                                    <li>{:L('RESEARCH_FORWARD')}：{$student.research_forward}</li>
                                    <li>{:L('CONTACT')}：{$student.contact}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </volist>
                <!-- End Team Member -->
            </div>
            <div class="row">
                <h2> {:L('GRADUATED_STUDENT')}</h2>
                <volist name="detail['graduated_stu']" id="graduated_stu" empty="$empty">
                    <div class="col-md-4 col-sm-6">

                        <div class="team-member">
                            <!-- Team Member Photo -->
                            <div class="team-member-image"><img style="height: 200px" src="{$graduated_stu.header_img}" alt="{$graduated_stu.title}"></div>
                            <div class="team-member-info">
                                <ul>
                                    <!-- Team Member Info & Social Links -->
                                    <li class="team-member-name">
                                        {:L('NAME')}：{$graduated_stu.title}
                                    </li>
                                    <li>{:L('WHERE')}：{$graduated_stu.where}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
        </div>
    </div>

</block>