<extend name="Public/common"/>

<block name="body">
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>我们的团队</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <h2>教师团队</h2>

                <div class="col-md-4 col-sm-6">

                    <div class="team-member">
                        <!-- Team Member Photo -->
                        <a href="member-info.html">
                            <div class="team-member-image"><img src="__IMG__/team1.jpg" alt="Name Surname"></div>
                        </a>

                        <div class="team-member-info">
                            <ul>
                                <!-- Team Member Info & Social Links -->
                                <li class="team-member-name">
                                    Name Surname
                                </li>
                                <li>Web Developer</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Team Member -->
                <h2>学生团队</h2>

                <div class="col-md-4 col-sm-6">

                    <div class="team-member">
                        <!-- Team Member Photo -->
                        <a href="member-info.html">
                            <div class="team-member-image"><img src="__IMG__/team1.jpg" alt="Name Surname"></div>
                        </a>

                        <div class="team-member-info">
                            <ul>
                                <!-- Team Member Info & Social Links -->
                                <li class="team-member-name">
                                    Name Surname
                                </li>
                                <li>Web Developer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Team Member -->
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="team-member-image"><img src="__IMG__/team2.jpg" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Name Surname
                                </li>
                                <li>Web Designer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="team-member-image"><img src="__IMG__/team3.jpg" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Name Surname
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
                                </li>
                                <li>Project Manager</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="team-member-image"><img src="__IMG__/team4.jpg" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Name Surname
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
                                </li>
                                <li>Project Manager</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="team-member-image"><img src="__IMG__/team5.jpg" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Name Surname
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
                                </li>
                                <li>UX Designer</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="team-member">
                        <div class="team-member-image"><img src="__IMG__/team6.jpg" alt="Name Surname"></div>
                        <div class="team-member-info">
                            <ul>
                                <li class="team-member-name">
                                    Name Surname
										<span class="team-member-social">
											<a href="#"><i class="icon-facebook"></i></a>
											<a href="#"><i class="icon-dribbble"></i></a>
											<a href="#"><i class="icon-tumblr"></i></a>
										</span>
                                </li>
                                <li>Systems Analyst</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>