<extend name="Public/common"/>

<block name="body">
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm-10">
                    <div class="blog-post blog-single-post">
                        <ul class="media-list">
                            <volist name="list" id="list">
                                <li class="media">
                                    <div class="media-body blog-media-text">
                                        <h3 class="media-heading">
                                            <a href="{:U('Article/detail?id='.$list['id'])}">{$list.title}</a>
                                        </h3>
                                        <div>
                                            <font size="2em" style="font-weight: normal;">{$list.description}.....</font>
                                        </div>

                                    </div>
                                    <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                        <font color="grey">发布时间:{$list.update_time|date='Y-m-d H:i:s',###}&nbsp;&nbsp;浏览量:{$list.view}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </font>
                                    </p>
                                </li>
                            </volist>
                        </ul>
                        <!-- Pagination -->
                        <div class="pagination-wrapper ">
                            <ul class="pagination">
                                {$pagearea}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post -->

                <!-- Sidebar -->
                <div class="col-sm-2 blog-sidebar">
                    <br/>
                    <h4>目录列表</h4>
                    <ul class="blog-categories">
                        <volist name="category" id="category">
                            <li><a href="{:U('nav/news?category='.$category['name'])}">{$category.title}</a></li>
                        </volist>
                    </ul>
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
</block>