<extend name="Public/common"/>

<block name="body">
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-sm-10">
                    <div class="blog-post blog-single-post">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="news-detail.html">组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                            <li class="media">
                                <div class="media-body blog-media-text">
                                    <h3 class="media-heading">
                                        <a href="">ngix uwsgi django组合建站</a>
                                    </h3>
                                    <div>
                                        <font size="2em" style="font-weight: normal;">由于最近要做一个创新项目，需要用到python web开发，于是研究了一下django这个很全能的python web框架。为什么需要ngix呢？首
                                            先说一下为什么需要这三者组合建.....</font>
                                    </div>

                                </div>
                                <p align="right" style="border-bottom: 1px #D5D5D5 solid;">
                                    <font color="grey">发布时间:2015-06-02 15:50:51&nbsp;&nbsp;所属分类:<a href="/Main/Blog/index/topic/3" style="color: grey">Linux</a>&nbsp;&nbsp;(<a href="/Main/Blog/read/id/23" style="color: grey">评论1</a>)&nbsp;&nbsp;(浏览142)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </font>
                                </p>
                            </li>
                        </ul>
                        <!-- Pagination -->
                        <div class="pagination-wrapper ">
                            <ul class="pagination">
                                <li class="disabled"><a href="#">上一页</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">下一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Blog Post -->

                <!-- Sidebar -->
                <div class="col-sm-2 blog-sidebar">
                    <br/>
                    <form>
                        <div class="input-group">
                            <input class="form-control input-sm" id="appendedInputButtons" type="text">
								<span class="input-group-btn">
									<button class="btn btn-sm" type="button">Search</button>
								</span>
                        </div>
                    </form>
                    <h4>最新文章</h4>
                    <ul class="recent-posts">
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Sed sit amet metus sit</a></li>
                        <li><a href="#">Nunc et diam volutpat tellus ultrices</a></li>
                        <li><a href="#">Quisque sollicitudin cursus felis</a></li>
                    </ul>
                    <h4>目录列表</h4>
                    <ul class="blog-categories">
                        <li><a href="#">Lorem ipsum</a></li>
                        <li><a href="#">Sed sit amet metus</a></li>
                        <li><a href="#">Nunc et diam </a></li>
                        <li><a href="#">Quisque</a></li>
                    </ul>
                </div>
                <!-- End Sidebar -->
            </div>
        </div>
    </div>
</block>