<extend name="Public/common"/>

<block name="body">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <ul style="font-size: 15px" class="no-list-style">
                        <li><a href="#1">{:L('RESEARCH_FORWARD')}</a></li>
                        <li><a href="#2">{:L('GET_PATENT')}</a></li>
                    </ul>
                </div>
                <div class="col-md-10">
                    <h2 id="1">{:L('RESEARCH_FORWARD')}</h2>
                        <volist name="list['research']" id="research">
                            <div id="{$research.title}">{$research.detail}</div>
                        </volist>
                    <br>
                    <h2 id="2">{:L('GET_PATENT')}</h2>
                    <p>
                        {$list['patent']['detail']}
                    </p>
                </div>
            </div>
        </div>
    </div>
</block>